{% extends 'admin-base.html.twig' %}

{% block title %}Edit Livre{% endblock %}

{% block body %}
    <!-- Start wrapper-->
    <div id="wrapper">
    
        {% include 'admin/sidebar.html.twig' %}
        {% include 'admin/header.html.twig' %}
    
    <div class="clearfix"></div>	
    <div class="content-wrapper">
    <div class="container-fluid">
        <div class="col-lg-16">
            <div class="card">
            <div class="card-body">
            <div class="card-title">Modifier livre : </div>
    {{ include('livre/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    <div class="col-lg-5" style="margin-left:325px;">
    <br>
    <a href="{{ path('livre_index') }}" class="btn btn-dark btn-block">Retour</a>
    <br>
    {{ include('livre/_delete_form.html.twig') }}
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
{% endblock %}
