{% extends 'admin-base.html.twig' %}

{% block title %}New Auteur{% endblock %}

{% block body %}
 <!-- Start wrapper-->
 <div id="wrapper">
    
    {% include 'admin/sidebar.html.twig' %}
    {% include 'admin/header.html.twig' %}

    <div class="clearfix"></div>	
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="col-lg-16">
                    <div class="card">
                       <div class="card-body">
                        <div class="card-title">Creer un nouveau Auteur : </div>
    <!-- <h3>Creer un nouveau Auteur :</h3> -->

    {{ include('auteur/_form.html.twig') }}
    <div class="col-lg-5" style="margin-left:325px;">
    <br>
    <a href="{{ path('auteur_index') }}" class="btn btn-block btn-dark">Retour</a>
    </div>
    </div></div></div>
    </div></div></div>
{% endblock %}
