<h3>Bonjour {{ user.nom }} {{ user.prenom }},</h3>

<h4>Votre emprunt est mantenant confirmé, vous pouvez récuperer vos livres au bibliothèque</h4>
 
 <h4>Cordialement,</h4>

  <h5>E-Library</h5>

  <style>
h3,h4,h5 {
  color: 'gray';
}
</style>