<!DOCTYPE html>
<html>
    <head>
       

        {% block head %}
            
        {% endblock %}
    </head>
    <body class="bg-theme bg-theme1">
        {% block body %}{% endblock %}
    </body>
</html>
