<form method="post" action="{{ path('emprunt_delete', {'id': emprunt.id}) }}" onsubmit="return confirm('Es-tu sûr que tu veux rejeter cette emprunt ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ emprunt.id) }}">
    <button class="btn btn-block btn-light">Rejeter</button>
</form>
